<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HandPiano.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6CDB7AD1C0A516C00ED06D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6CDB7C11C0A516D00ED06D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6CDB7CC1C0A516D00ED06D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
